absl-py==0.12.0
addict==2.4.0
adjustText==0.7.3
affine==2.2.2
aiohttp>=3.7.4
aiohttp-cors==0.7.0
aioredis==1.3.1
aniso8601==8.0.0
appnope==0.1.0
argon2-cffi==20.1.0
arrow==0.15.5
astor==0.7.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==20.3.0
backcall==0.1.0
backoff==1.10.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bayesian-optimization==1.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
bleach>=3.3.0
blessings==1.7
bokeh==2.3.1
Brotli==1.0.9
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
clang==5.0
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
combo==0.1.2
ConfigSpace==0.4.14
cryptography>=3.2
cycler==0.10.0
Cython==0.29.22
dask==2021.4.0
dask-glm==0.2.0
dask-ml==1.9.0
dask-searchcv==0.2.0
dask-xgboost==0.1.10
deap==1.3.1
decorator==4.3.0
defusedxml==0.5.0
distributed==2021.4.0
elasticsearch==1.9.0
elasticsearch-watcher==0.4.0
entrypoints==0.2.3
enum34==1.1.6
Fabric3==1.14.post1
filelock==3.0.12
Fiona==1.8.19
Flask==1.1.2
Flask-Compress==1.9.0
Flask-RESTful==0.3.8
flask-restful-swagger==0.20.1
flask-restplus==0.13.0
flatbuffers==1.12
fpdf==1.7.2
fsspec==0.9.0
future==0.18.2
gast==0.4.0
geojson==2.4.1
geopandas==0.5.0
google==3.0.0
google-api-core==1.26.3
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-cloud==0.34.0
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.39.0
h5py==3.1.0
HeapDict==1.0.1
hiplot==0.1.24
hiredis==2.0.0
hpbandster==0.7.4
html5lib==1.0.1
hyperas==0.4.1
hyperopt==0.2.5
idna==2.7
idna-ssl==1.1.0
imageio==2.9.0
imbalanced-learn==0.8.0
imblearn==0.0
imgaug==0.4.0
importlib-metadata==0.18
iniconfig==1.1.1
invoke==1.4.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
javabridge==1.0.19
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kafka-python==2.0.2
kaggle==1.4.7.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-tuner==1.0.2
kerastuner-tensorboard-logger==0.2.3
kiwisolver==1.3.1
langdetect==1.0.8
lightgbm==3.2.0
llvmlite==0.36.0
locket==0.2.1
lxml==4.6.5
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mistune==0.8.4
more-itertools==8.7.0
mpmath==1.2.1
msgpack==1.0.2
multidict==4.7.6
multipledispatch==0.6.0
munch==2.5.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.9
networkx==2.5.1
notebook>=6.4.1
numba==0.53.1
numexpr==2.7.3
numpy==1.21.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.8.2
partd==1.1.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pillow>=8.3.2
plotly==5.1.0
pluggy==0.13.1
prometheus-client==0.10.0
prompt-toolkit==3.0.18
protobuf==3.15.7
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==7.0.0
py-spy==0.3.5
py4j==0.10.9
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.1
pygrok==1.0.0
pymongo==3.11.3
PyNaCl==1.4.0
pyod==0.9.2
pyparsing==2.4.7
pyproj==3.0.1
Pyro4==4.80
pyspark==3.1.1
pytesseract==0.3.7
pytest==6.2.3
python-dateutil==2.8.1
python-slugify==4.0.1
python-weka-wrapper==0.3.18
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
rasterio==1.2.2
ray==1.2.0
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rq==1.8.0
rq-dashboard==0.6.1
rsa==4.7.2
scikit-image==0.18.1
scikit-learn==0.24.2
scikit-optimize==0.8.1
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.5.0
serpent==1.30.2
shap==0.39.0
Shapely==1.7.1
simplegeneric==0.8.1
six==1.15.0
sklearn-deap==0.3.0
slicer==0.0.7
snuggs==1.4.7
sortedcontainers==2.3.0
soupsieve==2.2.1
statsmodels==0.12.2
stopit==1.1.2
sympy==1.8
tabulate==0.8.9
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.6.0
tensorflow-addons==0.12.1
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.9.4
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.2.0
tifffile==2021.3.31
toml==0.10.2
toolz==0.11.1
tornado==6.1
TPOT==0.11.7
tqdm==4.60.0
traitlets==5.0.5
tune-sklearn==0.2.1
typeguard==2.12.0
typing-extensions==3.7.4.3
Unidecode==1.2.0
update-checker==0.18.0
urllib3>=1.26.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.3.3
yarl==1.6.3
yellowbrick==1.3.post1
zict==2.0.0
zipp==3.4.1
